* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.logo {
    text-align: center;
    padding: 20px 0;
}

.logo img {
    max-width: 300px;
}

.new-todo {
    text-align: center;
}

input,
button {
    padding: 7px 20px;
    margin: 0 5px;
    border-radius: 8px;
    border: 1px solid grey;
}

input {
    padding-right: 80px;
}

button {
    cursor: pointer;
}

.list {
    margin-top: 50px;
}

ul {
    list-style: none;
}

li {
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

li i {
    cursor: pointer;
}